.nav-below{
    margin-top: 10px;
    width: 85vw;
    height: 60px;
    background-color: green;
    border-radius: 20px;
    justify-self: center;
    filter: blur(30px);
    position: absolute;
}
.nav-above{
    margin-top: 30px;
    width: 85vw;
    height: 60px;
    background-color: green;
    border-radius: 20px;
    justify-self: center;
}
.heading{
    justify-self: center;
    color: white;
}